{%  extends 'master.html' %}

{% block title %}
    Comments
{% endblock %}

{%  block content %}

<div>
    <h1>{{ movie.name }}({{ movie.year }})
        <a href="{% url 'aplikacija:new_comment' movie.id %}">
            <span class="badge badge-dark">Add comment</span>
        </a>
    </h1>

</div>

{% if not comments %}
    <div>
        <h1>
            No comments for this movie
        </h1>
    </div>
{% else %}
    {% for comment in comments %}
    <div class="card">
      <div class="card-header" style="text-align:left">
        {{ comment.user }}
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align:left">{{ comment.content }}</p>
      </div>
      <div class="card-footer text-muted" style="text-align:right">
          {{ comment.time }}
      </div>
    </div>
    <br/>
    {% endfor %}
{% endif %}
{% endblock %}