{% extends 'master.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h1>
                {{ movie.name }}({{ movie.year }})
                {% if perms.aplikacija.change_article %}
                    <a href="{% url 'aplikacija:edit_movie' movie.id %}">
                        <span class="badge badge-dark">Edit</span>
                    </a>
                    <a href="{% url 'aplikacija:delete_movie' movie.id %}">
                        <span class="badge badge-dark">Delete</span>
                    </a>
                {% endif %}
                    <a href="{% url 'aplikacija:comments' movie.id %}">
                        <span class="badge badge-dark">See comments</span>
                    </a>
            </h1>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ movie.synopsis }}</p>
            </blockquote>
        </div>
    </div>

{% endblock %}